<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>A propos de nous</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius totam officiis officia s!</p>
        <p>ed unde id ipsum ratione, impedit voluptatum voluptates, optio, explicabo quod. Accusamus cumque sint tempora repellat facilis consequuntur</p>
        <p>ed unde id ipsum ratione, impedit voluptatum voluptates, optio, explicabo quod. facilis consequuntur</p>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>